APP_DEBUG = falseENV=dev[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 47.112.181.163DATABASE = databaseUSERNAME = adminPASSWORD = 1213456HOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX=[LANG]default_lang = zh-cn[QN]ACCESS_KEY=SECRET_KEY=BUCKET=DOMAIN=[WX]WX_APPLET_APP_ID=WX_APPLET_SECRET=WX_PAY_MCH_ID=WX_PAY_KEY=WX_PAY_CERT_PATH=WX_PAY_KEY_PATH=[ALIPAY]APP_ID=MERCHANT_PRIVATE_KEY=